.mypost {
    display: flex;
    margin-bottom: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); Add the box shadow */
    padding: 10px;
    margin-left: 40px;
    max-width: 680px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
.post {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add the box shadow */
    padding: 10px;
    margin-left: 40px;
    max-width: 680px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .post img {
    width: 220px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .post-details {
    flex: 1;
  }
  
  .post h3 {
    margin-top: 0;
  }
  
  .post p {
    margin: 5px 0;
  }
  